
.inputGroup{
    display: grid;
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.inputGroup label{
    cursor: pointer;
    margin-bottom: 0.2rem;
    color: rgb(22, 1, 70);
}

.inputGroup label:hover{
    font-weight: bold;
}

.inputGroup input{
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(22, 1, 70);
}

.inputGroup input:focus{
    outline: 3px solid rgba(255, 230, 3, .5);
}

::placeholder{
    color: rgb(49, 49, 49);
    font-weight: normal;
}

.inputGroup.username,
.inputGroup.password,
.inputGroup.email{
    max-width: 90%;
}

/* Remove arrow buttons from number input fields: */
.inputGroup input::-webkit-outer-spin-button,
.inputGroup input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
} /* Chrome, Safari, Edge, Opera */

.inputGroup input[type=number] {
    -moz-appearance: textfield;
} /* Firefox */
/* end of arrow styling */