.submitButton{
    background:#F5E341;
    font-weight: bolder;
    padding: 1rem 3rem;
    box-shadow: 0.2rem 0.2rem rgba(155, 155, 155, 0.2);
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.submitButton:hover{
    transform: scale(1.1, 1.1);
}